body{
    font-size:14px ;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color:#777777;
    background-color: #EAEBEC;
}
a{text-decoration: none;color:#777777;}
*{margin: 0;padding: 0;}
.page-title{
    height: 50px;
    background: #fff;
    line-height: 50px;
} /*  这是title的样式 */
.issue-details,.issue-list{
    background-color: #fff;
    margin: 20px auto 0;
    width: 1200px;
    padding:0 10px;
    box-sizing:border-box;

}