.issue-details{
    width: 1200px; 
    background-color: #fff;   
}
.page-title{
    padding:0 10px;
}
.issue-box,.issue-id,.creator{
    float: left;
}
.title-right{
    float: right;
}
.issue-box{
    width: 60px;
    height: 30px;
    margin: 10px 0px 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    cursor:pointer;
    background-color: #019875;
    color:#fff;
}
.issue-id{
    margin-left: 10px;
}
.btn{
    border: 1px solid #999;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 3px;
    padding:0 10px;
    font-weight: bold;
}
.issue-box-false{
    background-color: #019875;
    color:#fff;
}
.issue-box-true{
    background-color: #f00;
    color:#fff;
    border: 1px solid #f00;
}
.issue-content{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:20px 0 0 10px;
    background-color: #F7F8FA;
    overflow: hidden;
}
.issue-content h2{
    margin-bottom: 10px;
}
.issue-content div{
    margin-bottom: 20px;
}
.participants{
    height: 50px;
}
.issue-discussList{
    float: left;
    width: 900px;
    background-color:#F7F8FA;
}
.issue-discussList li{
    padding:10px 0 10px 50px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #FDFDFD;
}
.issue-discussList .write{
    width: 880px;
    margin-left: 10px;
}
.write h4{
    height: 40px;
    line-height: 40px;
}
.write textarea{
    width: 880px;
    resize: none;
    height: 150px;
    border: 1px solid #eee;
    outline-style: none;
    margin-bottom: 5px;
}
.write input{
    width: 120px;
    height: 40px;
    margin-right: 10px;
    cursor:pointer;
}
aside{
    width: 300px;
    float: left;
    background-color: #fcf;
    height: 500px;
}























