.bar {
    overflow: hidden;
}
.right {
    float: right;
}
.inline {
    display: inline-block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bar ul {
    float: left;
    
}
.bar ul li {
    display: inline-block;
}
a {

    text-decoration: none;
}