.assignee{
    border: 1px solid #eee;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    width: 100%;
    padding-left:10px;
    box-sizing:border-box;
}
.dailog {
    position: absolute;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #eee;
    padding:10px 20px 0;
    width: 280px;
    box-sizing:border-box;
    height: 300px;
    overflow:auto;
}
.dailog li{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
}
.dailog li.active{
    background: darkred;color:white;

}
.dailog input{
    height: 30px;
    border: 1px solid #eee;
    width: 100%;
    padding-left: 10px;
    box-sizing:border-box;
    background-color: #eee;
}