<div class="newIssue">
    <div class="page-title">
        <h2>Create Issue</h2>
    </div>
    <div class="content">
        <div class="tle">
          <span style="font-weight: bold;">Title* </span><input type="text" placeholder ng-model="title" class="n-tle"><br>  
        </div>
        <div class="description" style="overflow: hidden;">
          <span style="float: left;">Description</span> <textarea style="float: left;" ng-model="description"></textarea>  
        </div>
        <div class="assign">      
            <span>Assign to</span>
            <!-- <complete list="assigneeList" ng-model="assignee" key=""  ></complete> -->
        </div>
        <div class="milestone">      
            <span>Milestone</span>
            <!-- <complete list="versionList" ng-model="version" key=""  ></complete> -->
        </div>    
    </div>
    <div class="c-foot">
        <input type="button" class="submit" value="submit">
        <input type="button" class="cancel" value="cancel">
    </div>
</div>