<div class="issue-list">
    <div class="bar">
        <ul>
            <li>
                <a href="#/list/open">
                    <span>Open</span>
                    <span>{{openNum}}</span>
                </a>
            </li>
            <li>
                <a href="#/list/closed">
                    <span>Closed</span>
                    <span>{{closedNum}}</span>
                </a>
            </li>
            <li>
                <a href="#/list/all">
                    <span>All</span>
                    <span>{{allNum}}</span>
                </a>
            </li>
        </ul>
        <div class="right">
            <div class="inline">
                <a href="javascript:void(0)">wifi一样的源码按钮</a>
            </div>
            <div class="inline">
                <input type="text" placeholder="Filter by title or description">
            </div>
            <a href="先放着~等添加问题页写完后加上对应的地址" class="inline">添加问题的按钮</a>
        </div>
    </div>
    
    <div class="filter"></div>
    <ul>
        <li ng-repeat="item in resultLists">
            <input type="checkBox" ng-model="">{{item.title}}
        </li>
    </ul>
</div>