<input ng-click="toshow=!toshow" class="assignee" ng-model="ngModel" placeholder="{{placeholder}}">
<div ng-show="toshow" class="dailog">
    <input type="text" ng-model="ngModel" ng-keyup="selectItem($event,element)" ng-focus="toShow()" ng-blur="toshow=false">
    <ul>
        <li ng-class="{'active': $index == symbol}" ng-repeat="item in arr" ng-mousedown="mouseSelect($index)" ng-mouseover="overSelect($index)">{{item}}</li>
    </ul>
    <h4 ng-if="isError" style="color: red">没有匹配的选项</h4> 
</div>

   